* text=auto !eol
/CHANGES -text
/CMakeLists.txt -text
/CONTRIBUTORS -text
/LICENSE -text
/Makefile.am -text
/README.md -text
/README_EN.txt -text
/changelog.txt -text
cmake/Config.cmake.in -text
cmake/gtest.pc.in -text
cmake/gtest_main.pc.in -text
cmake/internal_utils.cmake -text
codegear/gtest.cbproj -text
codegear/gtest.groupproj -text
codegear/gtest_all.cc -text
codegear/gtest_link.cc -text
codegear/gtest_main.cbproj -text
codegear/gtest_unittest.cbproj -text
/configure.ac -text
docs/FAQ.md -text
docs/Pkgconfig.md -text
docs/Primer.md -text
docs/PumpManual.md -text
docs/Samples.md -text
docs/XcodeGuide.md -text
docs/advanced.md -text
include/gtest/gtest-death-test.h -text
include/gtest/gtest-message.h -text
include/gtest/gtest-param-test.h -text
include/gtest/gtest-param-test.h.pump -text
include/gtest/gtest-printers.h -text
include/gtest/gtest-spi.h -text
include/gtest/gtest-test-part.h -text
include/gtest/gtest-typed-test.h -text
include/gtest/gtest.h -text
include/gtest/gtest_pred_impl.h -text
include/gtest/gtest_prod.h -text
include/gtest/internal/custom/README.md -text
include/gtest/internal/custom/gtest-port.h -text
include/gtest/internal/custom/gtest-printers.h -text
include/gtest/internal/custom/gtest.h -text
include/gtest/internal/gtest-death-test-internal.h -text
include/gtest/internal/gtest-filepath.h -text
include/gtest/internal/gtest-internal.h -text
include/gtest/internal/gtest-linked_ptr.h -text
include/gtest/internal/gtest-param-util-generated.h -text
include/gtest/internal/gtest-param-util-generated.h.pump -text
include/gtest/internal/gtest-param-util.h -text
include/gtest/internal/gtest-port-arch.h -text
include/gtest/internal/gtest-port.h -text
include/gtest/internal/gtest-string.h -text
include/gtest/internal/gtest-tuple.h -text
include/gtest/internal/gtest-tuple.h.pump -text
include/gtest/internal/gtest-type-util.h -text
include/gtest/internal/gtest-type-util.h.pump -text
m4/acx_pthread.m4 -text
m4/gtest.m4 -text
make/Makefile -text
msvc/2010/gtest-md.sln -text
msvc/2010/gtest-md.vcxproj -text
msvc/2010/gtest-md.vcxproj.filters -text
msvc/2010/gtest.sln -text
msvc/2010/gtest.vcxproj -text
msvc/2010/gtest.vcxproj.filters -text
msvc/2010/gtest_main-md.vcxproj -text
msvc/2010/gtest_main-md.vcxproj.filters -text
msvc/2010/gtest_main.vcxproj -text
msvc/2010/gtest_main.vcxproj.filters -text
msvc/2010/gtest_prod_test-md.vcxproj -text
msvc/2010/gtest_prod_test-md.vcxproj.filters -text
msvc/2010/gtest_prod_test.vcxproj -text
msvc/2010/gtest_prod_test.vcxproj.filters -text
msvc/2010/gtest_unittest-md.vcxproj -text
msvc/2010/gtest_unittest-md.vcxproj.filters -text
msvc/2010/gtest_unittest.vcxproj -text
msvc/2010/gtest_unittest.vcxproj.filters -text
samples/prime_tables.h -text
samples/sample1.cc -text
samples/sample1.h -text
samples/sample10_unittest.cc -text
samples/sample1_unittest.cc -text
samples/sample2.cc -text
samples/sample2.h -text
samples/sample2_unittest.cc -text
samples/sample3-inl.h -text
samples/sample3_unittest.cc -text
samples/sample4.cc -text
samples/sample4.h -text
samples/sample4_unittest.cc -text
samples/sample5_unittest.cc -text
samples/sample6_unittest.cc -text
samples/sample7_unittest.cc -text
samples/sample8_unittest.cc -text
samples/sample9_unittest.cc -text
scripts/common.py -text
scripts/fuse_gtest_files.py -text
scripts/gen_gtest_pred_impl.py -text
scripts/gtest-config.in -text
scripts/pump.py -text
scripts/release_docs.py -text
scripts/test/Makefile -text
scripts/upload.py -text
scripts/upload_gtest.py -text
src/gtest-all.cc -text
src/gtest-death-test.cc -text
src/gtest-filepath.cc -text
src/gtest-internal-inl.h -text
src/gtest-port.cc -text
src/gtest-printers.cc -text
src/gtest-test-part.cc -text
src/gtest-typed-test.cc -text
src/gtest.cc -text
src/gtest_main.cc -text
test/BUILD.bazel -text
test/googletest-break-on-failure-unittest.py -text
test/googletest-break-on-failure-unittest_.cc -text
test/googletest-catch-exceptions-test.py -text
test/googletest-catch-exceptions-test_.cc -text
test/googletest-color-test.py -text
test/googletest-color-test_.cc -text
test/googletest-death-test-test.cc -text
test/googletest-death-test_ex_test.cc -text
test/googletest-env-var-test.py -text
test/googletest-env-var-test_.cc -text
test/googletest-filepath-test.cc -text
test/googletest-filter-unittest.py -text
test/googletest-filter-unittest_.cc -text
test/googletest-json-outfiles-test.py -text
test/googletest-json-output-unittest.py -text
test/googletest-linked-ptr-test.cc -text
test/googletest-list-tests-unittest.py -text
test/googletest-list-tests-unittest_.cc -text
test/googletest-listener-test.cc -text
test/googletest-message-test.cc -text
test/googletest-options-test.cc -text
test/googletest-output-test-golden-lin.txt -text
test/googletest-output-test.py -text
test/googletest-output-test_.cc -text
test/googletest-param-test-invalid-name1-test.py -text
test/googletest-param-test-invalid-name1-test_.cc -text
test/googletest-param-test-invalid-name2-test.py -text
test/googletest-param-test-invalid-name2-test_.cc -text
test/googletest-param-test-test.cc -text
test/googletest-param-test-test.h -text
test/googletest-param-test2-test.cc -text
test/googletest-port-test.cc -text
test/googletest-printers-test.cc -text
test/googletest-shuffle-test.py -text
test/googletest-shuffle-test_.cc -text
test/googletest-test-part-test.cc -text
test/googletest-test2_test.cc -text
test/googletest-throw-on-failure-test.py -text
test/googletest-throw-on-failure-test_.cc -text
test/googletest-tuple-test.cc -text
test/googletest-uninitialized-test.py -text
test/googletest-uninitialized-test_.cc -text
test/gtest-typed-test2_test.cc -text
test/gtest-typed-test_test.cc -text
test/gtest-typed-test_test.h -text
test/gtest-unittest-api_test.cc -text
test/gtest_all_test.cc -text
test/gtest_assert_by_exception_test.cc -text
test/gtest_environment_test.cc -text
test/gtest_help_test.py -text
test/gtest_help_test_.cc -text
test/gtest_json_test_utils.py -text
test/gtest_list_output_unittest.py -text
test/gtest_list_output_unittest_.cc -text
test/gtest_main_unittest.cc -text
test/gtest_no_test_unittest.cc -text
test/gtest_pred_impl_unittest.cc -text
test/gtest_premature_exit_test.cc -text
test/gtest_prod_test.cc -text
test/gtest_repeat_test.cc -text
test/gtest_sole_header_test.cc -text
test/gtest_stress_test.cc -text
test/gtest_test_macro_stack_footprint_test.cc -text
test/gtest_test_utils.py -text
test/gtest_testbridge_test.py -text
test/gtest_testbridge_test_.cc -text
test/gtest_throw_on_failure_ex_test.cc -text
test/gtest_unittest.cc -text
test/gtest_xml_outfile1_test_.cc -text
test/gtest_xml_outfile2_test_.cc -text
test/gtest_xml_outfiles_test.py -text
test/gtest_xml_output_unittest.py -text
test/gtest_xml_output_unittest_.cc -text
test/gtest_xml_test_utils.py -text
test/production.cc -text
test/production.h -text
xcode/Config/DebugProject.xcconfig -text
xcode/Config/FrameworkTarget.xcconfig -text
xcode/Config/General.xcconfig -text
xcode/Config/ReleaseProject.xcconfig -text
xcode/Config/StaticLibraryTarget.xcconfig -text
xcode/Config/TestTarget.xcconfig -text
xcode/Resources/Info.plist -text
xcode/Samples/FrameworkSample/Info.plist -text
xcode/Samples/FrameworkSample/WidgetFramework.xcodeproj/project.pbxproj -text
xcode/Samples/FrameworkSample/runtests.sh -text
xcode/Samples/FrameworkSample/widget.cc -text
xcode/Samples/FrameworkSample/widget.h -text
xcode/Samples/FrameworkSample/widget_test.cc -text
xcode/Scripts/runtests.sh -text
xcode/Scripts/versiongenerate.py -text
xcode/gtest.xcodeproj/project.pbxproj -text
