* text=auto !eol
/.clang-format -text
/.travis.yml -text
/BUILD.bazel -text
/CMakeLists.txt -text
/CONTRIBUTING.md -text
/LICENSE -text
/README.md -text
/README_EN.txt -text
/WORKSPACE -text
/appveyor.yml -text
/changelog.txt -text
ci/build-linux-bazel.sh -text
ci/build-platformio.sh -text
ci/env-linux.sh -text
ci/env-osx.sh -text
ci/get-nprocessors.sh -text
ci/install-linux.sh -text
ci/install-osx.sh -text
ci/install-platformio.sh -text
ci/log-config.sh -text
ci/travis.sh -text
googlemock/CMakeLists.txt -text
googlemock/CONTRIBUTORS -text
googlemock/LICENSE -text
googlemock/README.md -text
googlemock/cmake/gmock.pc.in -text
googlemock/cmake/gmock_main.pc.in -text
googlemock/docs/cheat_sheet.md -text
googlemock/docs/cook_book.md -text
googlemock/docs/for_dummies.md -text
googlemock/docs/gmock_faq.md -text
googlemock/include/gmock/gmock-actions.h -text
googlemock/include/gmock/gmock-cardinalities.h -text
googlemock/include/gmock/gmock-function-mocker.h -text
googlemock/include/gmock/gmock-generated-actions.h -text
googlemock/include/gmock/gmock-generated-actions.h.pump -text
googlemock/include/gmock/gmock-generated-function-mockers.h -text
googlemock/include/gmock/gmock-generated-function-mockers.h.pump -text
googlemock/include/gmock/gmock-generated-matchers.h -text
googlemock/include/gmock/gmock-generated-matchers.h.pump -text
googlemock/include/gmock/gmock-matchers.h -text
googlemock/include/gmock/gmock-more-actions.h -text
googlemock/include/gmock/gmock-more-matchers.h -text
googlemock/include/gmock/gmock-nice-strict.h -text
googlemock/include/gmock/gmock-spec-builders.h -text
googlemock/include/gmock/gmock.h -text
googlemock/include/gmock/internal/custom/README.md -text
googlemock/include/gmock/internal/custom/gmock-generated-actions.h -text
googlemock/include/gmock/internal/custom/gmock-generated-actions.h.pump -text
googlemock/include/gmock/internal/custom/gmock-matchers.h -text
googlemock/include/gmock/internal/custom/gmock-port.h -text
googlemock/include/gmock/internal/gmock-internal-utils.h -text
googlemock/include/gmock/internal/gmock-port.h -text
googlemock/include/gmock/internal/gmock-pp.h -text
googlemock/scripts/fuse_gmock_files.py -text
googlemock/scripts/generator/LICENSE -text
googlemock/scripts/generator/README -text
googlemock/scripts/generator/README.cppclean -text
googlemock/scripts/generator/cpp/__init__.py -text
googlemock/scripts/generator/cpp/ast.py -text
googlemock/scripts/generator/cpp/gmock_class.py -text
googlemock/scripts/generator/cpp/gmock_class_test.py -text
googlemock/scripts/generator/cpp/keywords.py -text
googlemock/scripts/generator/cpp/tokenize.py -text
googlemock/scripts/generator/cpp/utils.py -text
googlemock/scripts/generator/gmock_gen.py -text
googlemock/scripts/gmock-config.in -text
googlemock/scripts/gmock_doctor.py -text
googlemock/scripts/upload.py -text
googlemock/scripts/upload_gmock.py -text
googlemock/src/gmock-all.cc -text
googlemock/src/gmock-cardinalities.cc -text
googlemock/src/gmock-internal-utils.cc -text
googlemock/src/gmock-matchers.cc -text
googlemock/src/gmock-spec-builders.cc -text
googlemock/src/gmock.cc -text
googlemock/src/gmock_main.cc -text
googlemock/test/BUILD.bazel -text
googlemock/test/gmock-actions_test.cc -text
googlemock/test/gmock-cardinalities_test.cc -text
googlemock/test/gmock-function-mocker_nc.cc -text
googlemock/test/gmock-function-mocker_nc_test.py -text
googlemock/test/gmock-function-mocker_test.cc -text
googlemock/test/gmock-generated-actions_test.cc -text
googlemock/test/gmock-generated-function-mockers_test.cc -text
googlemock/test/gmock-generated-matchers_test.cc -text
googlemock/test/gmock-internal-utils_test.cc -text
googlemock/test/gmock-matchers_test.cc -text
googlemock/test/gmock-more-actions_test.cc -text
googlemock/test/gmock-nice-strict_test.cc -text
googlemock/test/gmock-port_test.cc -text
googlemock/test/gmock-pp-string_test.cc -text
googlemock/test/gmock-pp_test.cc -text
googlemock/test/gmock-spec-builders_test.cc -text
googlemock/test/gmock_all_test.cc -text
googlemock/test/gmock_ex_test.cc -text
googlemock/test/gmock_leak_test.py -text
googlemock/test/gmock_leak_test_.cc -text
googlemock/test/gmock_link2_test.cc -text
googlemock/test/gmock_link_test.cc -text
googlemock/test/gmock_link_test.h -text
googlemock/test/gmock_output_test.py -text
googlemock/test/gmock_output_test_.cc -text
googlemock/test/gmock_output_test_golden.txt -text
googlemock/test/gmock_stress_test.cc -text
googlemock/test/gmock_test.cc -text
googlemock/test/gmock_test_utils.py -text
googletest/CMakeLists.txt -text
googletest/CONTRIBUTORS -text
googletest/LICENSE -text
googletest/README.md -text
googletest/cmake/Config.cmake.in -text
googletest/cmake/gtest.pc.in -text
googletest/cmake/gtest_main.pc.in -text
googletest/cmake/internal_utils.cmake -text
googletest/cmake/libgtest.la.in -text
googletest/docs/advanced.md -text
googletest/docs/faq.md -text
googletest/docs/pkgconfig.md -text
googletest/docs/primer.md -text
googletest/docs/pump_manual.md -text
googletest/docs/samples.md -text
googletest/include/gtest/gtest-death-test.h -text
googletest/include/gtest/gtest-matchers.h -text
googletest/include/gtest/gtest-message.h -text
googletest/include/gtest/gtest-param-test.h -text
googletest/include/gtest/gtest-printers.h -text
googletest/include/gtest/gtest-spi.h -text
googletest/include/gtest/gtest-test-part.h -text
googletest/include/gtest/gtest-typed-test.h -text
googletest/include/gtest/gtest.h -text
googletest/include/gtest/gtest_pred_impl.h -text
googletest/include/gtest/gtest_prod.h -text
googletest/include/gtest/internal/custom/README.md -text
googletest/include/gtest/internal/custom/gtest-port.h -text
googletest/include/gtest/internal/custom/gtest-printers.h -text
googletest/include/gtest/internal/custom/gtest.h -text
googletest/include/gtest/internal/gtest-death-test-internal.h -text
googletest/include/gtest/internal/gtest-filepath.h -text
googletest/include/gtest/internal/gtest-internal.h -text
googletest/include/gtest/internal/gtest-param-util.h -text
googletest/include/gtest/internal/gtest-port-arch.h -text
googletest/include/gtest/internal/gtest-port.h -text
googletest/include/gtest/internal/gtest-string.h -text
googletest/include/gtest/internal/gtest-type-util.h -text
googletest/include/gtest/internal/gtest-type-util.h.pump -text
googletest/samples/prime_tables.h -text
googletest/samples/sample1.cc -text
googletest/samples/sample1.h -text
googletest/samples/sample10_unittest.cc -text
googletest/samples/sample1_unittest.cc -text
googletest/samples/sample2.cc -text
googletest/samples/sample2.h -text
googletest/samples/sample2_unittest.cc -text
googletest/samples/sample3-inl.h -text
googletest/samples/sample3_unittest.cc -text
googletest/samples/sample4.cc -text
googletest/samples/sample4.h -text
googletest/samples/sample4_unittest.cc -text
googletest/samples/sample5_unittest.cc -text
googletest/samples/sample6_unittest.cc -text
googletest/samples/sample7_unittest.cc -text
googletest/samples/sample8_unittest.cc -text
googletest/samples/sample9_unittest.cc -text
googletest/scripts/common.py -text
googletest/scripts/fuse_gtest_files.py -text
googletest/scripts/gen_gtest_pred_impl.py -text
googletest/scripts/gtest-config.in -text
googletest/scripts/pump.py -text
googletest/scripts/release_docs.py -text
googletest/scripts/test/Makefile -text
googletest/scripts/upload.py -text
googletest/scripts/upload_gtest.py -text
googletest/src/gtest-all.cc -text
googletest/src/gtest-death-test.cc -text
googletest/src/gtest-filepath.cc -text
googletest/src/gtest-internal-inl.h -text
googletest/src/gtest-matchers.cc -text
googletest/src/gtest-port.cc -text
googletest/src/gtest-printers.cc -text
googletest/src/gtest-test-part.cc -text
googletest/src/gtest-typed-test.cc -text
googletest/src/gtest.cc -text
googletest/src/gtest_main.cc -text
googletest/test/BUILD.bazel -text
googletest/test/googletest-break-on-failure-unittest.py -text
googletest/test/googletest-break-on-failure-unittest_.cc -text
googletest/test/googletest-catch-exceptions-test.py -text
googletest/test/googletest-catch-exceptions-test_.cc -text
googletest/test/googletest-color-test.py -text
googletest/test/googletest-color-test_.cc -text
googletest/test/googletest-death-test-test.cc -text
googletest/test/googletest-death-test_ex_test.cc -text
googletest/test/googletest-env-var-test.py -text
googletest/test/googletest-env-var-test_.cc -text
googletest/test/googletest-filepath-test.cc -text
googletest/test/googletest-filter-unittest.py -text
googletest/test/googletest-filter-unittest_.cc -text
googletest/test/googletest-json-outfiles-test.py -text
googletest/test/googletest-json-output-unittest.py -text
googletest/test/googletest-list-tests-unittest.py -text
googletest/test/googletest-list-tests-unittest_.cc -text
googletest/test/googletest-listener-test.cc -text
googletest/test/googletest-message-test.cc -text
googletest/test/googletest-options-test.cc -text
googletest/test/googletest-output-test-golden-lin.txt -text
googletest/test/googletest-output-test.py -text
googletest/test/googletest-output-test_.cc -text
googletest/test/googletest-param-test-invalid-name1-test.py -text
googletest/test/googletest-param-test-invalid-name1-test_.cc -text
googletest/test/googletest-param-test-invalid-name2-test.py -text
googletest/test/googletest-param-test-invalid-name2-test_.cc -text
googletest/test/googletest-param-test-test.cc -text
googletest/test/googletest-param-test-test.h -text
googletest/test/googletest-param-test2-test.cc -text
googletest/test/googletest-port-test.cc -text
googletest/test/googletest-printers-test.cc -text
googletest/test/googletest-shuffle-test.py -text
googletest/test/googletest-shuffle-test_.cc -text
googletest/test/googletest-test-part-test.cc -text
googletest/test/googletest-test2_test.cc -text
googletest/test/googletest-throw-on-failure-test.py -text
googletest/test/googletest-throw-on-failure-test_.cc -text
googletest/test/googletest-uninitialized-test.py -text
googletest/test/googletest-uninitialized-test_.cc -text
googletest/test/gtest-typed-test2_test.cc -text
googletest/test/gtest-typed-test_test.cc -text
googletest/test/gtest-typed-test_test.h -text
googletest/test/gtest-unittest-api_test.cc -text
googletest/test/gtest_all_test.cc -text
googletest/test/gtest_assert_by_exception_test.cc -text
googletest/test/gtest_environment_test.cc -text
googletest/test/gtest_help_test.py -text
googletest/test/gtest_help_test_.cc -text
googletest/test/gtest_json_test_utils.py -text
googletest/test/gtest_list_output_unittest.py -text
googletest/test/gtest_list_output_unittest_.cc -text
googletest/test/gtest_main_unittest.cc -text
googletest/test/gtest_no_test_unittest.cc -text
googletest/test/gtest_pred_impl_unittest.cc -text
googletest/test/gtest_premature_exit_test.cc -text
googletest/test/gtest_prod_test.cc -text
googletest/test/gtest_repeat_test.cc -text
googletest/test/gtest_skip_environment_check_output_test.py -text
googletest/test/gtest_skip_in_environment_setup_test.cc -text
googletest/test/gtest_skip_test.cc -text
googletest/test/gtest_sole_header_test.cc -text
googletest/test/gtest_stress_test.cc -text
googletest/test/gtest_test_macro_stack_footprint_test.cc -text
googletest/test/gtest_test_utils.py -text
googletest/test/gtest_testbridge_test.py -text
googletest/test/gtest_testbridge_test_.cc -text
googletest/test/gtest_throw_on_failure_ex_test.cc -text
googletest/test/gtest_unittest.cc -text
googletest/test/gtest_xml_outfile1_test_.cc -text
googletest/test/gtest_xml_outfile2_test_.cc -text
googletest/test/gtest_xml_outfiles_test.py -text
googletest/test/gtest_xml_output_unittest.py -text
googletest/test/gtest_xml_output_unittest_.cc -text
googletest/test/gtest_xml_test_utils.py -text
googletest/test/production.cc -text
googletest/test/production.h -text
/library.json -text
/platformio.ini -text
